PORT = 

DATABASE_URL=

PORT1= 
HOST_NAME = 
EMAIL = 
PASSWORD = 
EMAIL_USERNAME = 

STRIPE_SECRET_KEY = 
WEBHOOK_SECRET = 

CLIENT_URL = 
BACKEND_URL = 

SECRET_KEY = 
JWT_EXPIRATION_TIME_ACCESS_TOKEN_MINUTES = 
JWT_EXPIRATION_TIME_REFRESH_TOKEN_DAYS = 